extends ../components/base/layout

block variables
  - const title = "DC-light_cart-sold" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "cart-sold.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    block bread-crumbs
      +bread-crumbs(cartSoldBc)
    +cart-sold()
    +recently-card-slider()
    +description({title:"О компании", subTitle:"Мы рады Вам", img:"aboutCompany", alt:"Картинка интро"}).about-company
    +map()

block modals