extends ../components/base/layout

block variables
  - const title = "DC-light_cooperation" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "cooperation.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    block bread-crumbs
      +bread-crumbs(aboutUsBc)
    +description({title:"Сотрудничество", subTitle:"Мы рады новым партнерам", img:"pageCooperation", alt:"Картинка интро", btnDownload: true})
    +cooperation-slider({list:true})
    +questions()
    +recently-card-slider()
    +description({title:"О компании", subTitle:"Мы рады Вам", img:"aboutCompany", alt:"Картинка интро"}).about-company
    +map()


block modals