extends ../components/base/layout

block variables
  - const title = "DC-light_delivery" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "delivery.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    block bread-crumbs
      +bread-crumbs(aboutUsBc)
    +img-intro({
      title: "Доставка и оплата",
      subTitle:"Быстро и не дорого",
      img: "delivery",
      alt: "Картинка интро страницы", 
      titleDesc: "Доставка",
      textDesc: "В нашем блоге будет много статей об использовании разных типов светильников. Мы расскажем о правилах выбора.",
      btnFirstName: "Скачать реквизиты",
      btnSecondName: "Скачать договор",
    })
    

    +questions()
    +recently-card-slider()
    +description({title:"О компании", subTitle:"Мы рады Вам", img:"aboutCompany", alt:"Картинка интро"}).about-company
    +map()


block modals
