extends ../components/base/layout

block variables
  - const title = "DC-light_montage" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "montage.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    block bread-crumbs
      +bread-crumbs(montageBc)
    +img-intro({
      sectionWrap: true,
      title: "Монтаж",
      subTitle:"Проведем монтаж",
      img: "montage",
      alt: "Картинка интро страницы", 
      titleDesc: "Монтаж",
      textDesc: "В нашем блоге будет много статей об использовании разных типов светильников. Мы расскажем о правилах выбора.",
      btnFirstName: "Скачать прайс  на работы",
      btnSecondName: "Скачать пример договора",
      montage: true
    })
    +advantages()
    +text-list-img({
      title: "Заголовок про монтаж и подбор",
      text: "Правильно подобранные и расположенные элементы освещения влияют на атмосферу и настроение помещения, а также придают последнему неповторимый индивидуальный характер. Вопрос освещения занимает важное место в мире дизайна. Именитые фабрики, такие как FLOS, LOUIS POULSEN, VIBIA, Catellani & Smith, Brand van Egmond, Lasvit и др., превращают производство осветительных приборов в настоящую философию света и создают дизайнерские светильники, которые находят своё место в самых разных интерьерах и экстерьерах.",
      imgName: "introAdvantageMontage",
      imgAlt: "Интро блока преимуществ",
    })
    +questions("Вызвать монтажника", "Мы перезвоним Вам в течении 15 минут")
    +recently-card-slider()
    +description({title:"О компании", subTitle:"Мы рады Вам", img:"aboutCompany", alt:"Картинка интро"}).about-company
    +map()

block modals
