mixin advantages(props={})
  - const {wrapTextBorder} = props
  .advantages&attributes(attributes)
    .container.advantages__container
      +advantages-list()
      if(wrapTextBorder === true)
        +wrap-text-border()
      