mixin cart-registration()
  .cart
    .container.cart__container
      .cart__section-wrap
        +section-wrap("Корзина","Ваши товары")
        +button({
          color: "color-transparent",
          text: "Очистить корзину",
          iconData: {
            position: "first",
            name: "icon-close",
            width: 8,
            height: 8
          }
        }).cart__clear-btn
      .cart__content
        .cart__form-wrap
          form(action="#", method="post") 

        +cart-info()