mixin choice-rule()
  .choice-rule&attributes(attributes)
    .container.choice-rule__container
      +wrap-text()

      .wrap-text__list-wrap
        h4 Вопрос освещения занимает важное место
        ul.wrap-text__list
          each elem, index in choiceRuleList
            li.wrap-text__item
              p!=elem.text