mixin description()
  .description&attributes(attributes)
    .container.description__container
      +section-wrap("О компании", "Мы рады Вам")
      .about-company__content.description__content
        +img("content", "description", "png", 390, 300, "Девушка со светодиодами")(align="left")
        p Правильно подобранные и расположенные элементы освещения влияют на атмосферу и настроение помещения, а также придают последнему неповторимый индивидуальный характер. Вопрос освещения занимает важное место в мире дизайна.
        p Именитые фабрики, такие как FLOS, LOUIS POULSEN, VIBIA, Catellani & Smith, Brand van Egmond, Lasvit и др., превращают производство осветительных приборов в настоящую философию света и создают дизайнерские светильники, которые находят своё место в самых разных интерьерах и экстерьерах. 
        p В нашем блоге будет много статей об использовании разных типов светильников. Мы расскажем о правилах выбора, затронем моменты совместимости ламп и светильников, не забудем о технических аспектах. Но без знания теории и классификации сложно жить. Давайте немного в неё погрузимся.
