mixin map()
  .map
    picture
      <source  media="(max-width: 576px)" srcset="img/map/map_320.png" srcset="img/map/map_320@2x.png">
      <source  media="(max-width: 768px)" srcset="img/map/map_576.png" srcset="img/map/map_576@2x.png">
      <source  media="(max-width: 992px)" srcset="img/map/map_768.png" srcset="img/map/map_768@2x.png">
      <source  media="(max-width: 1280px)" srcset="img/map/map_992.png" srcset="img/map/map_992@2x.png">
      <source  srcset="img/map/map.png" srcset="img/map/map@2x.png">
      <img src="img/map/map.png" alt="Карта с адресом компании: Москва, Соколово Мещерская ул., 14, 11" width="100%" height="640">
