mixin product-card-slider() 
  .container&attributes(attributes)
    +section-wrap(`Хиты продаж`,"Популярные товары").product-card-slider
      .product-card-slider__swiper.swiper
        ul.product-card-slider__list.swiper-wrapper
          each elem in productDataSliderHit.card
            li.product-card-slider__item.swiper-slide
              +product-small(elem)



