.btn,
.button {
  display: inline-flex;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  font-family: $ff-manrope;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: $color-maire;


  &--color-tangerine-yellow {
    padding: 18px 40px;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    background-color: $color-tangerine-yellow;
    color: $color-maire;

    &:hover {
      background-color: $color-selective-yellow;
      transition: background-color 0.6s ease;
    }
  }

  &--color-whisper {
    border-radius: 4px;

    & svg {
      fill: $color-dim-gray;
    }

    &:hover {
      background-color: $color-selective-yellow;
      transition: background-color 0.6s ease;

      & svg {
        fill: $color-maire;
        transition: fill 0.6s ease;
      }
    }

    &:focus {
      background-color: $color-transparent;
      transition: all 0.6s ease;

      & svg {
        fill: $color-maire;
        transition: fill 0.6s ease;
      }
    }

    &:disabled {
      background-color: $color-maire;
      transition: background-color 0.6s ease;
      color: $color-default-white;
      opacity: 1;

      & svg {
        fill: $color-default-white;
        transition: fill 0.6s ease;
      }
    }
  }

  &--color-transparent {
    align-items: center;
    font-family: $ff-manrope;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: $color-dim-gray;
    background-color: $color-transparent;

    &:hover {
      color: $color-maire;
      transition: color 0.6s ease;
    }
  }


  &__icon-first {
    margin-right: 10px;
  }

  &__icon-last {
    margin-left: 15px;
  }

  &--color-ghost-white {
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-ghost-white;

    & svg {
      fill: $color-selective-yellow;
    }

    &:hover,
    &:disabled {
      background-color: $color-whisper;
      transition: background-color 0.6s ease;

      & svg {
        fill: $color-dim-gray;
        transition: fill 0.6s ease;
      }
    }

    &:focus {
      background-color: $color-default-white;
      transition: background-color 0.6s ease;

      & svg {
        fill: $color-selective-yellow;
        transition: fill 0.6s ease;
      }
    }
  }

  &:disabled {
    pointer-events: none;
  }

  //- Кнопки навигации слайдера Intro
  &--intro-slider-nav {
    &:hover {
      background-color: $color-selective-yellow;
      transition: background-color 0.6s ease;

      & svg {
        fill: $color-maire;
        transition: fill 0.6s ease;
      }
    }

    &:focus {
      background-color: $color-default-white;
      transition: background-color 0.6s ease;
      outline: none;

      & svg {
        fill: $color-maire;
        transition: fill 0.6s ease;
      }
    }

    &:disabled {
      background-color: $color-maire;
      transition: background-color 0.6s ease;

      & svg {
        fill: $color-default-white;
        transition: fill 0.6s ease;
      }
    }
  }
}

//- Кнопка - название раздела в фильтре\
.filter-part__header {
  & button {
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 20px;
    color: $color-maire;

    & svg {
      width: 24px;
      height: 24px;
      fill: $color-silver;
    }

    &:hover {
      color: $color-selective-yellow;
      transition: color 0.6s ease;

      & svg {
        fill: $color-selective-yellow;
        transition: fill 0.6s ease;
      }
    }
  }
}
//- Кнопки фильтра показать и сбросить\
.filter-part {
  &__button-show {
    width: 100%;
    padding: 16px 90px;
    border-radius: 4px;
  }

  &__button-reset {
    margin-top: 20px;
    color: $color-silver;
  
    & svg {
      width: 8px;
      height: 8px;
      fill: $color-silver;
    }
  
    &:hover {
      color: $color-selective-yellow;
      transition: color 0.6s ease;
  
      & svg {
        fill: $color-selective-yellow;
        transition: fill 0.6s ease;
      }
    }
  }

  &__button-more {
    padding: 0;
    line-height: 24px;
    margin-top: 16px;
    color: $color-dim-gray;

    &:hover {
      color: $color-selective-yellow;
      transition: color 0.6s ease;
    }

    &:disabled {
      color: $color-maire;
      pointer-events: none;
    }
  }
}

//Кнопка открыть фильтр
.filter-parameter__button-open-filter {
  display: none;
  max-height: 50px;
  padding: 15px 30px 15px 21px;
  border-radius: 4px;

  @include vp-1024 {
    display: inline-flex;
  }

  @include vp-992 {
    display: none;
  }

  &--title {
    display: none;
    
    @include vp-992 {
      display: inline-flex;
    }
  }
}

// Кнопки пагинации
.pagination-btn__it {
  &:hover {
    background-color: $color-tangerine-yellow;
    transition: background-color 0.6s ease;

    .pagination-btn__link {
      color: $color-maire;
      transition: color 0.6s ease;
    }
  }
}

.pagination-btn__btn {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0;

  & svg {
    fill: $color-dim-gray;
  }

  &:hover {
    background-color: $color-tangerine-yellow;
    transition: background-color 0.6s ease;
    
    & svg {
      fill: $color-maire;
      transition: fill 0.6s ease;
    }
  }
}

.pagination-btn__show-more {
  padding: 15px 40px 15px 30px;
  height: 50px;
  border-radius: 4px;
}

//Кнопки скачать реквизиты и договор
.description__btn-contract,
.description__btn-requisites {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 700;

  color: $color-maire;
  background-color: $color-transparent;
  border: 2px solid $color-tangerine-yellow;
  border-radius: 4px;

  & svg {
    fill: $color-maire;
    width: 24px;
    height: 24px;
  }

  &:hover {
    border-color: $color-selective-yellow;
    color: $color-selective-yellow;
    transition: all 0.6s ease;

    & svg {
      fill: $color-selective-yellow;
      transition: fill 0.6s ease;
    }
  }

  &--img-intro {
    color: $color-default-white;

    @include vp-576 {
      color: $color-maire;
    }

    & svg {
      fill:  $color-default-white;

      @include vp-576 {
        fill: $color-maire;
      }
    }
  }
}


