@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/Manroperegular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/Manropemedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/Manropesemibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/Manropebold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy";
  font-display: swap;
  src:
    url("../fonts/GilroyBold.woff") format("woff");
}

