-
  const advantagesList = [
    {
      name: "lamp",
      title: "Ассортимент",
      text: "Более 15000 моделей светильников и комплектующих, быстрая отгрузка товара со склада.",
    },
    {
      name: "production",
      title: "Собственное производство ",
      text: "Разрабатываем и производим светодиодные светильники по индивидуальным проектам в кратчайшие сроки.",
    },
    {
      name: "quality",
      title: "Гарантия качества ",
      text: "Контролируем качество продукции и даем гарантию на весь ассортимент.",
    },
    {
      name: "delivery",
      title: "Быстрая доставка ",
      text: "Быстро и бережно осуществляем доставку в любой город и населенный пункт России.",
    },
  ]