-
  var catalogBc = [
    {
      title: "Каталог",
    }
  ]

  var aboutUsBc = [
    {
      title: "О компании",
    }
  ]

  var contactsBc = [
    {
      title: "Контакты",
    }
  ]

  var deliveryBc = [
    {
      title: "Доставка и оплата",
    }
  ]

  var montageBc = [
    {
      title: "Монтаж",
    }
  ]

  var cartBc = [
    {
      title: "Корзина",
    }
  ]

  var cartRegBc = [
    {
      title: "Корзина оформление",
    }
  ]

  var cartSoldBc = [
    {
      title: "Корзина оформлено",
    }
  ]