-
  var catalogBc = [
    {
      title: "Каталог",
    }
  ]

  var aboutUsBc = [
    {
      title: "О компании",
    }
  ]

  var contactsBc = [
    {
      title: "Контакты",
    }
  ]

  var deliveryBc = [
    {
      title: "Доставка и оплата",
    }
  ]