-
  const cartList = {
    card: [
      {
        status: 2,
        img: 2,
        href: "ee",
        lk: "ЛК: 41001544",
        name: "Ecola GX53-H4-GL светильник без рефл. глубокий Белый 48x1...",
        size: "1x1 м",
        capacity: "72 Вт",
        temp: "6500К",
        newPrice: "1 670 ₽",
        oldPrice: "2 190 ₽",
      },
      {
        status: 1,
        img: 2,
        href: "ee",
        lk: "ЛК: 41001544",
        name: "Ecola GX53-H4-GL светильник без рефл. глубокий Белый 48x1...",
        size: "1x1 м",
        capacity: "72 Вт",
        temp: "6500К",
        newPrice: "1 670 ₽",
        oldPrice: "2 190 ₽",
      },
      {
        status: 4,
        img: 2,
        href: "ee",
        lk: "ЛК: 41001544",
        name: "Ecola GX53-H4-GL светильник без рефл. глубокий Белый 48x1...",
        size: "1x1 м",
        capacity: "72 Вт",
        temp: "6500К",
        newPrice: "1 670 ₽",
        oldPrice: "2 190 ₽",
      },
      {
        status: 3,
        img: 1,
        href: "ee",
        lk: "ЛК: 41001544",
        name: "Ecola GX53-H4-GL светильник без рефл. глубокий Белый 48x1...",
        size: "1x1 м",
        capacity: "72 Вт",
        temp: "6500К",
        newPrice: "1 670 ₽",
        oldPrice: "2 190 ₽",
      },
      {
        status: 3,
        img: 2,
        href: "ee",
        lk: "ЛК: 41001544",
        name: "Ecola GX53-H4-GL светильник без рефл. глубокий Белый 48x1...",
        size: "1x1 м",
        capacity: "72 Вт",
        temp: "6500К",
        newPrice: "1 670 ₽",
        oldPrice: "2 190 ₽",
      },
      {
        status: 1,
        img: 2,
        href: "ee",
        lk: "ЛК: 41001544",
        name: "Ecola GX53-H4-GL светильник без рефл. глубокий Белый 48x1...",
        size: "1x1 м",
        capacity: "72 Вт",
        temp: "6500К",
        newPrice: "1 670 ₽",
        oldPrice: "2 190 ₽",
      },
    ]
  }

  var count = 6;
  var weight = 8;
  var cost = 90000;