- 
  var choiceRuleList = [
    {
      text: "Демонтажные работы",
    },
    {
      text: "Укладка плитки",
    },
    {
      text: "Установка сантехники",
    },
    {
      text: "Монтаж теплых полов",
    },
    {
      text: "Сборка мебели для ванной",
    },

    {
      text: "Демонтажные работы",
    },
    {
      text: "Укладка плитки",
    },
    {
      text: "Установка сантехники",
    },
    {
      text: "Монтаж теплых полов",
    },
    {
      text: "Сборка мебели для ванной",
    },

    {
      text: "Демонтажные работы",
    },
    {
      text: "Укладка плитки",
    },
    {
      text: "Установка сантехники",
    },
  ]