-
  var titleProductList = "Продукты";
  var titleCompanyList = "Компания";
  var footerProductsList = [
    { 
      text: "Весь каталог",
      href: "#",
    },
    { 
      text: "Линейные",
      href: "#",
    },
    { 
      text: "Кольца",
      href: "#",
    },
    { 
      text: "Круги",
      href: "#",
    },
    { 
      text: "Квадраты",
      href: "#",
    },
    { 
      text: "Треугольные",
      href: "#",
    },
    { 
      text: "Фигурные",
      href: "#",
    },
  ]

  var footerCompanyList = [
    { 
      text: "О компании",
      href: "#",
    },
    { 
      text: "Контакты",
      href: "#",
    },
    { 
      text: "Сотрудничество",
      href: "#",
    },
    { 
      text: "Доставка и оплата",
      href: "#",
    },
    { 
      text: "Монтаж",
      href: "#",
    },
  ]
