-
  const industryList = [
    {
      img: '1',
      button: "Торговые объекты",
    },
    {
      img: '2',
      button: "Офисы и бизнес-<br>центры",
    },
    {
      img: '3',
      button: "Рестораны и кафе",
    },
    {
      img: '4',
      button: "Музеи, галереи <br>и выставки",
    },
  ]