-
  var introSlider = { 
    slides: [
      { 
        text: "Светильник",
        status: 3, 
        title: "Меридиан" ,
        price: "1 670₽/м<sup>2",
        description: "Светильник представляет собой осветительный прибор, предназначенный для организации освещения пространств путем рассеивания светового потока."
      },  
      { 
        text: "Светильник",
        status: 2, 
        title: "Август",
        price: "2000 ₽/м<sup>2",
        description: "Светильник представляет собой осветительный прибор, предназначенный для организации освещения пространств путем рассеивания светового потока."
      }, 
    ],
  }
