-
  const montageTextList = [
    {
      li: "Демонтажные работы",
    },
    {
      li: "Укладка плитки",
    },
    {
      li: "Установка сантехники",
    },
    {
      li: "Демонтажные работы",
    },
    {
      li: "Укладка плитки",
    },
    {
      li: "Установка сантехники",
    },
  ]