- 
  const paymentDataSlider = [
    {
      index: "1",
      alt: "фото",
    },
    {
      index: "2",
      alt: "фото",
    },
    {
      index: "3",
      alt: "фото",
    },
    {
      index: "4",
      alt: "фото",
    },
    {
      index: "3",
      alt: "фото",
    },
    {
      index: "4",
      alt: "фото",
    },
  ]