-
  const productionList = [
    {
      img: '1',
      name: "Линейные",
    },
    {
      img: '2',
      name: "Кольца",
    },
    {
      img: '3',
      name: "Круги",
    },
    {
      img: '4',
      name: "Квадраты",
    },
    {
      img: '5',
      name: "Треугольные",
    },
    {
      img: '6',
      name: "Зигзаги",
    },
    {
      img: '7',
      name: "Овальные",
    },
    {
      img: '8',
      name: "Фигурные",
    },
  ]