-
  const tableMontage = [
    {
      status: "Санкт-Петербург",
      price: "1.500 рублей",
    },
    {
      status: "Москва и Московская область",
      price: "1.500 рублей",
    },
    {
      status: "Страны СНГ",
      price: "1.500 рублей",
    },
    {
      status: "По всей России",
      price: "1.500 рублей",
    },
  ]
