//- Base
include ./base/header
include ./base/footer
include ./base/modal

//-Data
include ./data/intro-slider
include ./data/industry-list
include ./data/product-card-slider-hit
include ./data/product-data
include ./data/production-list
include ./data/footer


//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks
include ./blocks/intro-slider
include ./blocks/production-lamp
include ./blocks/section-wrap
include ./blocks/product-card-slider
include ./blocks/industry-solutions
include ./blocks/about-company
include ./blocks/map


//- Mixins
include ./mixins/btn
include ./mixins/button
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/product-card
include ./mixins/search

