//- Base
include ./base/header
include ./base/footer
include ./base/modal

//-Data
include ./data/advantages-list
include ./data/bread-crumbs
include ./data/delivery-slider
include ./data/payment-slider
include ./data/table-delivery
include ./data/table-montage
include ./data/examples-slider
include ./data/intro-slider
include ./data/industry-list
include ./data/product-card-slider-hit
include ./data/product-data
include ./data/production-list
include ./data/footer
include ./data/recently-card-slider
include ./data/catalog-data
include ./data/choice-rule-list


//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks
include ./blocks/advantages
include ./blocks/examples-works
include ./blocks/bread-crumbs
include ./blocks/delivery-services-slider
include ./blocks/cooperation-slider
include ./blocks/img-intro
include ./blocks/intro-slider
include ./blocks/production-lamp
include ./blocks/payment-slider
include ./blocks/section-wrap
include ./blocks/product-card-slider
include ./blocks/industry-solutions
include ./blocks/map
include ./blocks/recently-card-slider
include ./blocks/filter
include ./blocks/catalog
include ./blocks/choice-rule
include ./blocks/description
include ./blocks/questions


//- Mixins
include ./mixins/advantages-list
include ./mixins/btn
include ./mixins/button
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/product-card
include ./mixins/search
include ./mixins/pagination
include ./mixins/table-delivery
include ./mixins/table-montage
include ./mixins/wrap-text-border
include ./mixins/wrap-text

